@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
}

:root{
    --red-color:#A40101;
	--blue-color:#2CA3AB;
	--grey-color:#C4C4C4;
	--orange-color:#F3610E;
	--grape-color:#1D1B45;
    --white-color--: #fff; 
}

#header{
    display: flex;
    margin: 0px;
    background-image: url(../img/13.\ guerreros.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.dashboard{
    flex-basis: 20%;
    background-color: var(--grape-color);
    height: 100vh;
    justify-content: space-around;
}

.dashboard img{
    max-width: 300px;
    width: 100%;
    margin-top: 4rem;

}
.dashboard ul{
    margin-top: 5rem;
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;

}

.dashboard a{
    color: black;
    font-size: 16px;
    font-weight:500;
    text-decoration: none;
    text-align: center;
    background-color:#ecececef;
    border: 3px solid var(--orange-color);
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    display: block;
}

.dashboard a:hover{
    background-color: var(--grape-color);
    color: #ecececef;
    cursor: pointer;
    transform: scale(1.05);
}

.user{
    margin: 0px;
    flex-basis: 80%;
    background-color: rgba(196, 196, 196, 0.5);
}
.boton2 i{
border: #2CA3AB;
}

.usuario{
    font-size: 14px;
    font-weight: 300; 
    margin-top: 0px;
    padding: 0px;
    flex-basis: 80%;
    position: relative;
    text-align: right;
}
.boton2{
    align-items: center;
    width: 120px;
    height: 40px;
    margin: 10px 10px;
    padding: 5px;
    background-color:var(--grape-color) ;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px; 
    border: #2CA3AB 2px;
    cursor: pointer;
}
 i{
    align-items: center;
    background-color: var(--white-color--);
    width: 30px;
    height: 30px;
    margin-block-start: 0px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid var(--orange-color);
 }


 h1{
    font-family: 'Poppins', sans-serif; 
     color: #F3610E;
     font-size: 30px;
     font-weight: 400;
 }
    .documento{
   
    text-align: center;
    justify-content: center;
    }

    .boton1{
        background-color: var(--grape-color) ;
        border: var(--blue-color) 2px solid;
        border-radius: 5px;
        color: white;
        padding: 10px;
    }

input{
    color: gray;
    height: 40px;
    padding: 10px;
    padding-right: 1rem;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif; 
    width: 300px;
    border-bottom: var(--grape-color 2px solid);
}
    
     h1{
        font-family: 'Poppins', sans-serif; 
        text-align: center;
        justify-content: center;
    }